<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBakIdp3qzs-I3qMSECd_74TRCnnv5Qaxg</string>
	<key>GCM_SENDER_ID</key>
	<string>933370420388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miwken.habittracker</string>
	<key>PROJECT_ID</key>
	<string>habit-tracker-mvp-cd646</string>
	<key>STORAGE_BUCKET</key>
	<string>habit-tracker-mvp-cd646.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933370420388:ios:c52b7532829be10ebe1a31</string>
</dict>
</plist>